<div *ngIf="listado">
  <div *ngFor="let tarea of listado " class="card mt-2">
    <div class="card-body">
      <b>{{tarea.nombre}}</b><br>
      <p>{{tarea.descripcion}}</p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">

          <i class="text-left">{{tarea.responsable}}</i>
        </div>
        <div class="col-md-2">
          <button class="btn" (click)="editar(tarea)" >E</button>
          <button class="btn" (click)="eliminar(tarea)" >X</button>
        </div>
      </div>
    </div>
  </div>
</div>