<div class="card">
    <div class="card-header">
        Tarea
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-12">
                <input [(ngModel)]="nombre" type="text" class="form-control" placeholder="Nombre.">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <textarea [(ngModel)]="descripcion" type="text" class="form-control" placeholder="Descripcion ..."></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input [(ngModel)]="responsable" type="text" class="form-control" placeholder="Responsable.">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-block">Guardar</button>
        <span>{{nombre}}</span>
        <span>{{descripcion}}</span>
        <span>{{responsable}}</span>
    </div>
</div>